.container {
  color: #333;
  margin: 8% auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: xx-large;
  letter-spacing: .125rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: white;
}

li span {
  display: block;
  font-size: 4.5rem;
  color: white;
}

img {
  height: 25%;
  width: 25%;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}